<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>《妖怪正传》概念站-水墨风探索式手游-互爱互动</title>
  <meta name="keywords" content="妖怪正传，互爱互动，水墨风，战棋，RPG，手游">
  <meta name="description" content="《妖怪正传》是由浣熊游戏研发，互爱互动（北京）有限公司发行的水墨风探索式手游。可于荒村之中探索八方。亦可在古刹之内御符捉妖。更可登宝塔战群魔。">

  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=750,target-densitydpi=320, minimum-scale=0.5, maximum-scale=2,user-scalable=0">

  <link rel="stylesheet" href="css/index.css?v=0.0.1">
  <link rel="stylesheet" href="css/swiper.min.css">

<!-- Swiper JS -->
  <script src="//page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="http://s0.web.hulai.com/static/jquery/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="http://page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js"></script>
  <script src="js/swiper.min.js"></script>
  <!-- 自动跳转 -->
  <script type="text/javascript">
    if (!isMobile.any) {
      var goUrl = '../index.html';
      var url = window.location.href;
      var urlArr = url.split('?')
      if (urlArr.length > 1) {
        goUrl = goUrl + '?' + urlArr[1];
      }
      location.replace(goUrl);
    }
  </script>

  <!-- 百度统计 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?207584dd23a77ed5bd8dde2d1c82eefa";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <style type="text/css">
    [v-cloak] {
      display: none;
    }
  </style>
  <style>

  }
  </style>
</head>

<body>
  <div id="app">
      <div class="top">
            <div class="xiazai"  @click="dialogOpen()"></div>
          </div>

          <!-- 蒙层 -->
          <div id="cover" v-show="cover"></div>
          <div id="cover2" v-show="cover2"></div>
          <!-- 弹窗 -->
          <div class="dialog" v-show="dialog">
            <div class="close" @click="dialogClose()"></div>
            <div class="left" @click="clickLeft"></div>
            <div class="right" @click="clickLeft"></div>
            <div class="lei" v-show="leiShow"></div>
            <div class="mu" v-show="muShow"></div>
            <div class="yuyue_phone">
              <input v-model="telephone" class="telephone" type="text" name="telephone" placeholder="请输入手机号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入手机号码'">
              <div class="disf">
                <input v-model="code" class="code" type="text" name="code" placeholder="请输入验证码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入验证码'">
                <input v-bind:disabled="isDisabled" v-model="smsCodeVal" @click="sendSms(this)" v-bind:class="{grayBg:isGrayBg}" type="button" class="yanzheng cursorP" name="name">
              </div>
              <div class="disf">
                <div class="ios" v-bind:class="{active: isIos}" @click="chooseXT('ios')"></div>
                <div class="android" v-bind:class="{active: isAnd}" @click="chooseXT('android')"></div>
              </div>
              <div class="yyyx mt10 cursorP" @click="saveRecord()"></div>
            </div>
          </div>
          <div class="success" v-show="success">
            <div class="closesuccess" @click="closeSuccess()"></div>
          </div>
          <div class="fail" v-show="fail">
            <div class="closefail" @click="closeFail"></div>
          </div>
  </div>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background:url(img/1.jpg?v=0.0.1) no-repeat top center;">
        <div class="one" style="width:100%;height:1206px;" v-cloak>

          <div class="yuyue" @click="dialogOpen()">
          </div>
          <!-- 蒙层 -->
          <div id="cover" v-show="cover"></div>
          <div id="cover2" v-show="cover2"></div>
          <!-- 弹窗 -->
          <div class="dialog" v-show="dialog">
            <div class="close" @click="dialogClose()"></div>
            <div class="left" @click="clickLeft"></div>
            <div class="right" @click="clickLeft"></div>
            <div class="lei" v-show="leiShow"></div>
            <div class="mu" v-show="muShow"></div>
            <div class="yuyue_phone">
              <input v-model="telephone" class="telephone" type="text" name="telephone" placeholder="请输入手机号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入手机号码'">
              <div class="disf">
                <input v-model="code" class="code" type="text" name="code" placeholder="请输入验证码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入验证码'">
                <input v-bind:disabled="isDisabled" v-model="smsCodeVal" @click="sendSms(this)" v-bind:class="{grayBg:isGrayBg}" type="button" class="yanzheng cursorP" name="name">
              </div>
              <div class="disf">
                <div class="ios" v-bind:class="{active: isIos}" @click="chooseXT('ios')"></div>
                <div class="android" v-bind:class="{active: isAnd}" @click="chooseXT('android')"></div>
              </div>
              <div class="yyyx mt10 cursorP" @click="saveRecord()"></div>
            </div>
          </div>
          <div class="success" v-show="success">
            <div class="closesuccess" @click="closeSuccess()"></div>
          </div>
          <div class="fail" v-show="fail">
            <div class="closefail" @click="closeFail"></div>
          </div>
          <div class="down">
            <img src="img/down.gif" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background:url(img/2.jpg?v=0.0.4) no-repeat top center;">
        <div class="shijieguan">
          <div class="down">
            <img src="img/down.gif" alt="">
          </div>
        </div>

      </div>
      <div class="swiper-slide" style="background:url(img/3.jpg?v=0.0.4) no-repeat top center;">
        <div class="two">

          <div class="jiang" v-show="jiangShow">
            <img :src="jiangbg" alt="">
            <div class="chakan1" @click="clickOne()"></div>
          </div>
          <div class="muyecha" v-show="mu2Show">
            <img :src="muyechabg" alt="">
            <div class="chakan2" @click="clickTwo()"></div>
          </div>
          <div class="leizhenzi" v-show="lei2Show">
            <img :src="leizhenzibg" alt="">
            <div class="chakan3" @click="clickThree()"></div>
          </div>
           <div class="baize" v-show="baiShow">
            <img :src="baizebg" alt="">
            <div class="chakan4" @click="clickFour()"></div>
          </div>
          <div class="icon">
            <img :src="iconJiang" alt="" @click="clickJiang()">
            <img :src="iconMu" alt="" @click="clickMu()">
            <img :src="iconLei" alt="" @click="clickLei()">
            <img :src="iconBai" alt="" @click="clickBai()">
          </div>
          <div class="open oneOpen" v-show="oneShow">
            <div class="closeone" @click="closeDialog()"></div>
          </div>
          <div class="open twoOpen" v-show="twoShow">
            <div class="closeone" @click="closeDialog()"></div>
          </div>
          <div class="open threeOpen" v-show="threeShow">
            <div class="closeone" @click="closeDialog()"></div>
          </div>
          <div class="open fourOpen" v-show="fourShow">
            <div class="closeone" @click="closeDialog()"></div>
          </div>
          <div id="cover3" v-show="cover3Show" @click="closeDialog()"></div>
          <div class="down">
            <img src="img/down.gif" alt="">
          </div>
        </div>

      </div>
      <div class="swiper-slide" style="background:url(img/4.jpg) no-repeat top center;">
         <div class="juesejieshao">


          <div class="down">
            <img src="img/down.gif" alt="">
          </div>
        </div>
        <div class="down">
            <img src="img/down.gif" alt="">
          </div>
      </div>
      <div class="swiper-slide" style="background:url(img/5.jpg) no-repeat top center;">
        <div class="footer">
        <p>
          温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
          <br/> 本网站所有游戏仅适合于年满18周岁以上的用户。如果您未满18周岁，不建议您注册并使用本网络游戏服务；
          <br/> 如果您坚持使用，请您务必加入本网络游戏防沉迷系统进行实名注册，同时我们将会按照您法定监护人的需求提供您在本网络游戏中的信息。
          <br/> 您在使用本网络游戏服务之前已经明确知晓网络游戏可能给您带来的一切潜在威胁，包括长时间游戏可能不利于您的身心健康等。为了您的健康请您合理的使用本网络游戏。
        </p>

        <p>京ICP备11034336号-1 |
          <a target="_blank" href="http://hulai.com/assets/files/huai_wenwangwen.jpg">
            <font>京网文[2011]0744-272号 |</font>
          </a>
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033250">
            <font><img src="http://www.beian.gov.cn/img/ghs.png">京公网安备 11010502033250号 |</font>
          </a>
          <a target="_blank" href="http://hulai.com/assets/files/huai_xukezheng.pdf">
            <font>（总）网出证（京）字第095号 |</font>
          </a>
          <a href="#">
            <font>ICP证书号:京B2-20171148</font>
          </a>
        </p>
        <p>
          <a class="c_white" target="_blank" href="http://www.hulai.com/server">服务协议 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/privacy">隐私权保护声明 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/minors">未成年人家长监护 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/law">法律声明 |</a>
          <a class="c_white" target="_blank" href="http://www.hulai.com/dispute">纠纷、投诉</a>
        </p>
        <p>
          北京市石景山区八大处高科技园区西井路3号3号楼9229房间 010-62662622
        </p>
        <p>
          Copyright © 2015 Hoolai Games. All Rights Reserved | 互爱互动（北京）科技有限公司版权所有
        </p>
      </div>
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      direction: 'vertical'
    });
  </script>
  <style type="text/css">
    .cover_vue {
    display: block;
    }
  </style>

</body>

</html>
