*{
  margin:0px;
  padding:0px;
}
@font-face{
  font-family: "SIMLI";
  src: url("../fonts/SIMLI.eot"); /* IE9 */
  src: url("../fonts/SIMLI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/SIMLI.woff") format("woff"), /* chrome, firefox */
    
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/SIMLI.ttf") format("truetype"), 
  url("../fonts/SIMLI.svg#SIMLI") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
input:-ms-input-placeholder{
    color: #fff;opacity:1;
    font-family: "SIMLI";
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
    font-family: "SIMLI";
}
input[type="button"]{
  -webkit-appearance: none;
  font-family: "SIMLI";
}
html,body 
{
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
#cover {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
#cover2 {
  position: absolute;
  z-index: 11;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
#cover3 {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
.yuyue{
    background: url(../img/aaa.png) no-repeat center top;
    width: 312px;
    height: 68px;
    position: absolute;
    right: 219px;
    top: 1024px;
}
.dialog{
  background: url(../img/dialog.png) no-repeat center top;
  width: 640px;
  height: 941px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -470.5px 0 0 -320px;
}
.close{
  width: 45px;
  height: 47px;
  position: absolute;
  top: 84px;
  left: 527px;
  z-index: 1000;
}
.left{
  width: 37px;
  height: 55px;
  position: absolute;
  top: 327px;
  left: 92px;
  z-index: 1000;
}
.right{
  width: 37px;
  height: 55px;
  position: absolute;
  top: 329px;
  left: 509px;
  z-index: 1000;
}
.lei{
  background: url(../img/lei.png) no-repeat center top;
  width: 540px;
  height: 501px;
  margin-top: 63px;
  margin-left: 81px;
}
.mu{
  background: url(../img/mu.png) no-repeat center top;
  width: 540px;
  height: 501px;
  margin-top: 63px;
  margin-left: 81px;
}
.yuyue_phone{
  width: 354px;
  margin: 0 auto;
}
.telephone{
  background: url(../img/phone.png) no-repeat center top;
  width: 354px;
  height: 73px;
  font-size: 22px;
  border: none;
  text-align: center;
  outline: none;
  color: #fff;
}
.code{
  background: url(../img/yanzhengma.png) no-repeat center top;
  width: 204px;
  height: 64px;
  font-size: 22px;
  text-align: center;
  outline: none;
  color: #fff;
  border: none;
}
.yanzheng{
  background: url(../img/huoqu.png) no-repeat center top;
  width: 130px;
  height: 64px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  outline: none;
  text-align: center;
  border: none;
  font-family: "SIMLI";
}
.yyyx{
  background: url(../img/button.png) no-repeat center top;
  width: 358px;
  height: 96px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 64px;
}
.android{
  width: 43px;
  height: 34px;
  position: absolute;
  top: 719px;
  left: 359px;
}
.ios{
  width: 43px;
  height: 34px;
  margin-top: 17px;
  margin-left: 52px;
  float: left;
}
.active{
  background: url(../img/gou.png) no-repeat center top;
}
.grayBg{
  background-color: lightGray;
}
.success{
  width: 638px;
  height: 462px;
  z-index: 105;
  background: url(../img/success.png) no-repeat center top;
  position: fixed;
  top: 255px;
  left: 54px;
}
.closesuccess{
  width: 45px;
  height: 47px;
  position: absolute;
  top: 72px;
  left: 527px;
  z-index: 103;
}
.fail{
  width: 638px;
  height: 462px;
  z-index: 105;
  background: url(../img/fail.png) no-repeat center top;
  position: fixed;
  top: 255px;
  left: 54px;
}
.closefail{
  width: 45px;
  height: 47px;
  position: absolute;
  top: 72px;
  left: 527px;
  z-index: 103;
}
a{
  color: #634847;
}
.footer {
  width: 600px;
  margin-left: 20px;
  font-size: 12px;
  color: #634847;
  margin-bottom: 20px;
  padding-top: 1170px;
}
.left1{
  position: absolute;
  top: 548px;
  left: 20px;
}
.right1{
  position: absolute;
  top: 548px;
  right: 20px;
}
.chakan1{
  width: 82px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 500px;
}
.chakan2{
  width: 82px;
  height: 82px;
  position: absolute;
  top: 42%;
  left: 520px;
}
.chakan3{
  width: 82px;
  height: 82px;
  position: absolute;
  top: 54%;
  left: 562px;
}
.chakan4{
  width: 82px;
  height: 82px;
  position: absolute;
  top: 51%;
  left: 582px;
}
.icon{
  margin-top: 40px;
  position: absolute;
  left: 62px;
  bottom: 211px;
}
.icon img{
  margin-left: 20px;
  z-index: 200px;
}
.three{
  margin-top: -83px;
  width: 684px;
  background-color: #000;
}
.prev{
  position: absolute;
  top:45%;
  left: 1%;
}
.next{
    position: absolute;
  top:45%;
  right: 1%;
}
.shijie{
  position: absolute;
  top:33%;
  left: 8%;
}
.jieshao{
  position: absolute;
  top:33%;
  left: 8%;
}
.two{
  margin-top: -252px;
}
.open{
  width: 554px;
  height: 928px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -464px 0 0 -277px;
}
.oneOpen{
  background: url(../img/chakan1.png) no-repeat center top;
  z-index: 120;
}
.twoOpen{
  background: url(../img/chakan2.png) no-repeat center top;
}
.threeOpen{
  background: url(../img/chakan3.png) no-repeat center top;
}
.fourOpen{
  background: url(../img/chakan4.png) no-repeat center top;
}
.closeone{
  width: 50px;
  height: 50px;
      margin-top: 871px;
    margin-left: 253px;
}
.footer {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  color: #21485e;
  position: absolute;
  top: -40%;
  left: 5%;
 
}
a{
 color: #21485e;
 text-decoration: none;
}
.footer p{
  text-align: center;
}
.down{
  position: absolute;
   left: 349px;
    bottom: 26px;

}
.top{
  width: 750px;
  height: 145px;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/top.png) no-repeat center top;
  z-index: 155;
}
.xiazai{
  width: 196px;
  height: 58px;
  margin-top: 30px;
  margin-left: 556px;
}